//
//  urban.xcconfig
//  UrbanParis
//
//  Created by Yassin El Mouden on 18/07/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

AppIcon = AppUrbanIcon
LAUNCH_SCREEN = LaunchScreenUrban.storyboard
IS_VALID = 1
PROJECT_URL = fsrmcdkxntytiuhjdabo.supabase.co
API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzcm1jZGt4bnR5dGl1aGpkYWJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjE3MzQyOTAsImV4cCI6MjAzNzMxMDI5MH0.ngbjIAwhXdWP_C7sXse0Kzy73UuYmPgzfK8LGZQPUy4
